blockquote {
	font-size: 2.5rem;
}

.row .col-12 {
	padding-bottom: 10px;
}
#shiseido-gift input, #daily-draw-product input{
	width: 70%;
}

#shiseido-gift button, #daily-draw-product button{
	width: 20%;
}
#registration_list_table tr td:nth-last-child(1){
	text-align: center;
}
