/*@font-face {
    font-family: OptimusPrinceps;
    src: url('/fonts/OptimusPrinceps.tff');
}*/
@media screen and (max-width: 575px){

}
@media screen and (min-width: 576px) and (max-width: 767px){

}
@media screen and (min-width: 768px) and (max-width: 991px){

}
@media screen and (min-width: 992px) and (max-width: 1199px){

}
@media screen and (min-width: 1200px){

}
body{
	margin: 0;
}

.wrapper{
	max-width: 1024px;
	margin: 0 auto;
}
.page-header{
	max-height: 100vh;
}
.nav-menu{
	/*background-color: red;*/
	height: 5vh;
}
.video-container{
	background-color: blue;
	height: 95vh;
}