/*Global*/
@font-face {
    font-family: 'helveticaNeueLStd-blk';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Helvetica Neue LT Std-20180731T093519Z-001/Helvetica Neue LT Std/HelveticaNeueLTStd-Blk.otf') format('truetype');
}
@font-face {
    font-family: 'helveticaNeueLStd-Lt';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Helvetica Neue LT Std-20180731T093519Z-001/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf') format('truetype');
}
@font-face {
    font-family: 'helveticaNeueLStd-Md';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Helvetica Neue LT Std-20180731T093519Z-001/Helvetica Neue LT Std/HelveticaNeueLTStd-Md.otf') format('truetype');
}
@font-face {
    font-family: 'helveticaNeueLStd';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Helvetica Neue LT Std-20180731T093519Z-001/Helvetica Neue LT Std/HelveticaNeueLTStd-Lt.otf') format('truetype');
}
@font-face {
    font-family: 'helveticaNeueLStd-Bd';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Helvetica Neue LT Std-20180731T093519Z-001/Helvetica Neue LT Std/HelveticaNeueLTStd-Bd.otf') format('truetype');
}

@font-face {
    font-family: 'Hestina';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/Hestina/Hestina Font by Keithzo (7NTypes).otf');
}

body{
    font-size: 1rem;
    font-family: helveticaNeueLStd;
}
#snowfall-wrapper{
    position: fixed !important;
    cursor: none;
    pointer-events: none;
}

body{
    margin: 0;
}
a{
    color:#000;
}
a:hover{
    color:#c80321;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}
.full-container{
    /*height: 4835px;*/
    /*max-height: 100%; 
    max-width: 100%;*/ 
    /*width: 100%;
    max-height: auto;
    background-image: url("../img/Ribbons_BG.png");*/
}
.video-container {
position: relative;
padding-bottom: 56.25%;
height: 0; overflow: hidden;
}

.ytp-chrome-top{
display: none !important; 
}

.video-container iframe,
.video-container object,
.video-container embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.wrapper{
    /*max-width: 1280px;*/
    width: 80%;
    margin: 0 auto;
    /*margin: 0 10%;*/
}
.page-header{
    display: block;
    position: fixed;
    z-index: 999;
    top:0;
    left:0;
    width:100%;
    background: white;
}
.custom-text-color{
    color: #c80321;
}
.mobile-page-header{
    display: none;
}
.mobile-header-container{
    position: relative;
}
.mobile-share-text{
    margin-left: 0.5rem;
}
.mobile-menu{
    position: absolute;
    color:  #c80321;
    background-color: white;
    padding: 30px 0;
    width: 100%;
    display: none;
    font-family: helveticaNeueLStd-Bd;
}
.mobile-menu > .row > .col-12 >  .mobile-menu-item{
    color:  #c80321;
    font-family: helveticaNeueLStd-Bd;
}
.mobile-menu > .row > .col-12 >  .mobile-menu-item a:hover{
    text-decoration: none;
}
.mobile-menu > .row > .text-left{
    padding-top: 15px;
    padding-bottom: 15px;
}
.mobile-menu-border-bottom{
    border-bottom: 1px solid #c80321;
}
.mobile-menu-icon{
    position: absolute;
    right: 15px;
}
.video-modal-dialog{
    margin: 0 !important;
}
.video-modal-content > .modal-body{
    padding: 0;
}
.fa-times-thin:before {
    content: '\00d7';
}
.custom-mobile-padding{
    padding-left: 30px;
    padding-right: 30px;
}
.open-menu{
    content:url("../img/Icon_Menu.png");
    width: 25px;
    top: 5px;
}
.close-menu{
    content:url("../img/close_btn.png");
    width: 25px;
}
.show-menu{
    display: block;
}
.custom-margin-left{
    margin-left: 15px;
}
.nav-menu{
    /*background-color: red;*/
    height: 77px;
}
.nav-menu > .row, .menu-list > .row{
    height: 77px;
}
.menu{
    position: absolute;
    /*top: 50%;*/
    top: 30%;
    color: #c80321;
    font-family: helveticaNeueLStd-Lt;
    font-size: 1rem;
}
.sharing-option{
    position: relative;
    cursor: pointer;
}
.sharing-option:hover .img-container{
    visibility: visible;
}
.custom-display{
    z-index: 3;
}
.sharing-list{
    position: absolute;
    left: 15px;
    z-index: 2;
    top: 10px;
}
.fb-img{
    position: absolute;
    left: 40px;
    top: 50px;
    z-index: 3;
}
.whatsapp-img{
    position: absolute;
    left: 40px;
    top: 100px;
    z-index: 3;
    width: 35px;
}
.img-container{
    visibility: hidden;
}
.site-logo{
    position: absolute;
    /*top: 50%;*/
    top: 30%;
}
.mobile-top-banner{
    display: none;
}
.banner-video{
    width: 100%;
    height: 100%;
}
.btn-video-sound{
    background: transparent;
    position:absolute;
    bottom:20px;
    right: 20px;
    cursor: pointer;
    border:none;
}
.btn-video-sound:active, .btn-video-sound:focus{
    border:none;
    outline: none;
}
.description-container{
    /*height: 4835px;*/
    /*width: 100%; */
    /*background-image: url("../img/Ribbons_BG.png");*/
    margin-top: -7px;
}
.content-top{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.content-top-title{
    font-size: 2.3rem;
    font-family: helveticaNeueLStd-blk;
    font-weight: bold;
    /*margin:3rem 0;*/
}
.content-top-content{
    font-size: 1rem;
    font-family: helveticaNeueLStd-Lt;
    /*line-height: 2rem;*/
}
.custom-display-inline-block{
    display: inline-block;
}
.content-bottom{
    background-image: url(../img/middle_bg.png);
    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;
    /*min-height: 1500px;*/
    position: relative;
}
.content-bottom-title{
    font-size: 2.3rem;
    font-family: helveticaNeueLStd-blk;
    font-weight: bold;
    /*margin:4rem 0;*/
}
.content-bottom > .wrapper{
    /*padding:16rem 16rem 16rem; */
    padding-top: 12rem;
}
.ribbon-div{
    background-image: url('../img/Ribbon.png');
    /*background-size: 100% 100%;
    background-position: 0% 0%;*/
    background-size: contain;
    background-position: center;
    background-repeat: repeat-x;
    min-height: 241px;
    position: absolute;
    top: -60px;
    width: 100%;
}
.content-bottom-content{
    font-size: 1rem;
    font-family: helveticaNeueLStd-Lt;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.content-bottom-content > span:hover{
    cursor: pointer;
}
.description-content{
    /*background-image: url(../img/top_bg.png);
    background-size: 100% 100%;
    background-position: 0% 0%;
    min-height: 500px;
    display: table;
    width: 100%;*/
    background-image: url(../img/top_bg.png);
    background-size: 100% auto;
    background-position: top;
    background-repeat:no-repeat;
    display: table;
    width: 100%;
    padding: 10rem 0;
}
.calendars{
    position: relative;
}
.calendars > .wrapper{
    padding-top: 3rem;
}
.content-middle{
    padding-top: 241px;
}
.products{
    background-image: url('../img/btm_bg.png');
    background-size: 100% 100%;
    background-position: 0% 0%;
    min-height: 900px;
}
.product-title{
    font-size: 2.3rem;
    font-family: helveticaNeueLStd-blk;
    font-weight: bold;
    margin-bottom: 0;
}
.product-description{
    font-size: 1rem;
    font-family: helveticaNeueLStd-Lt;
}
.product-button{
    padding-bottom: 3rem;
}
.product-image{
    padding-top: 1.5rem;
}
.product-image > img {
    /*width: 75%;*/
    width: 65%;
}
.buy-now-button{
    padding: 10px 50px;
    border-radius: 10px;
    background-color: #c80321; 
    border: none; 
    cursor: pointer;
    font-family: helveticaNeueLStd-Md;
    font-size: 1.5rem;
    color: white; 
}
/*.buy-now-button > a{
    font-family: helveticaNeueLStd-Md;
    font-size: 1.5rem;
    color: white; 
}*/
.buy-now-button:hover{
    text-decoration: none;
    color: white;
}
.footer{
    min-height: 150px;
    background-image: url("../img/footer-bg.png");
    position: relative;
}
.footer > .container, .footer > .container > .row{
    min-height: 150px;
}

.footer-menu{
    position: absolute;
    /*top: 50%;*/
    top: 30%;
    font-family: helveticaNeueLStd-Lt;
    font-size: 1rem;
    line-height: 30px;
}
/*.footer-menu-list > .row{
    height: 150px;
}*/
.footer-menu-list{

}
.calendar-date,.calendar-date-open{
    /*background-image: url("../img/5.png");*/
    background-size: cover;
    /*width: 262px;*/
    /*height: 262px;*/
    /*width: 100%;
    height: 100%;
    font-size: 6rem;
    padding: 45px 0;*/
    min-height: 180px;
   /* */min-width: 180px;
    margin-bottom: 5px;
    width: 20%;
    /*height: 24vh;*/
    /*height: 219px;*/
    cursor:pointer;
}
.calendar-date:after, .calendar-date-open:after{
    display: block;
    content: '';
    padding-bottom: 100%;
    /*padding-bottom: 105%;*/
}
.calendar-date-open-disabled{
    /*background-image: url("../img/open_5.png");*/
    background-size: cover;
    /*width: 262px;*/
    /*height: 262px;*/
    /*width: 100%;
    height: 100%;
    font-size: 6rem;
    padding: 45px 0;*/
    min-height: 180px;
   /* */min-width: 180px;
    margin-bottom: 5px;
    width: 20%;
    /*height: 24vh;*/
    /*height: 219px;*/
    cursor: pointer;
} 

.col{
    padding-top: 15px;
    padding-bottom: 15px;
}
.footer-menu-outer-container, .header-menu-outer-container{
    display: table;
    width: 100%;
    height: 100%;
}
.footer-menu-inner-container, .header-menu-inner-container{
    display:table-cell;
    vertical-align: middle; 
    text-align:right;
}
.header-menu-inner-container ul{
    list-style: none;
}
.footer-menu-inner-container > ul > li{
    font-size: 0.9rem;
    font-family:helveticaNeueLStd-Lt;
    display: inline;
    padding:0 20px;
}
.footer-menu-inner-container > ul > li .footer-item{
    color:white;
}
.footer-menu-inner-container > ul > li .footer-item:hover{
    text-decoration: none;
}
.header-menu-inner-container > ul > li{
    display: inline;
    padding:0 20px;
}
.header-menu-inner-container > ul > li .menu-item{
    font-size: 0.95rem;
    font-family:helveticaNeueLStd-Bd;
    display: inline;
    padding:0;
    color: #c80321;
}
.header-menu-inner-container > ul >li a:hover{
    text-decoration: none;
}
.header-menu-inner-container > ul > li a:hover{
    color:#fd6b81;
}
.footer-menu-inner-container-image{
    display:table-cell;
    vertical-align: middle; 
    text-align:left;
}
.modal-header{
    border-bottom:none;
}
.modal-dialog{
    max-width: none;
}
.modal-content{
    border:0;
    max-width: 1280px;
    box-shadow: 1px 1px 5px #D3D3D3;
    border-radius: 0;
    margin:0 auto;
    width:85%;
}
.modal-content > .modal-body{
    /*padding:2rem 5rem;*/
}
.fb-login-modal-content{
    background-image: url("../img/popup/login_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.fb-login-modal-dialog{
    margin: 2rem auto;
    width: 95%;
    max-width: 100%;
}*/
.fb-login-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.fb-login-content{
    font-family: helveticaNeueLStd;

}
.fb-login-button{
    background-color: #4267B2;
    border: none;
    border-radius: 17px;
    font-family: helveticaNeueLStd-Md;
    font-size: 1.8rem;
    padding: 5px 1rem;
    color: white;
    cursor: pointer;
}
.fb-share-button{
    background-color: #c80321;
    border: none;
    border-radius: 10px;
    font-family: helveticaNeueLStd-Md;
    /*font-size: 1.8rem;*/
    font-size: 1.3rem;
    padding: 5px 1rem;
    color: white;
    /*width: 20%;*/
    margin: 0 auto;
    cursor: pointer;
}

.close{
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    z-index: 2;
    /*font-size: 4rem;
    font-family: helveticaNeueLStd-Lt;*/
}

.close > img{
    content: url('../img/X.png');
}

.fb-login-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.happy-holiday-modal-content{
    background-image: url("../img/popup/thank_you_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.happy-holiday-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.happy-holiday-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.happy-holiday-content{
    margin-top: 1rem;
    font-family: helveticaNeueLStd;

}
.happy-holiday-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.lose-holiday-modal-content{
    background-image: url("../img/popup/lose_thanks_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.lose-holiday-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.lose-holiday-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.lose-holiday-content{
    font-family: helveticaNeueLStd;

}
.lose-holiday-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.sorry-modal-content{
    background-image: url("../img/popup/lose_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.sorry-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.sorry-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.sorry-content{
    font-family: helveticaNeueLStd;

}
.sorry-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.win-modal-content{
    background-image: url("../img/popup/win_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.win-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.win-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.win-content{
    font-family: helveticaNeueLStd;

}
.win-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.lose-modal-content{
    background-image: url("../img/popup/lose_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.lose-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.lose-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.lose-content{
    font-family: helveticaNeueLStd;

}
.lose-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.late-modal-content{
    background-image: url("../img/popup/late_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.late-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.late-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.late-content{
    font-family: helveticaNeueLStd;

}
.late-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.tnc-modal-content{
    background-image: url("../img/happy_holiday_bg_desktop.png");
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.tnc-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.tnc-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.tnc-content{
    font-family: helveticaNeueLStd;

}
.tnc-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.pnp-modal-content{
    background-image: url("../img/happy_holiday_bg_desktop.png");
    background-size: 100% 100%;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
/*.pnp-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.pnp-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.pnp-content{
    font-family: helveticaNeueLStd;

}
.pnp-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.submit-modal-content{
    background-image: url("../img/popup/submit_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
}
#new-form{
   background-image: url("../img/popup/submit_bg.png");
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat; 
}
/*.submit-modal-dialog{
    margin: 2rem auto;
    width: 70%;
    max-width: 100%;
}*/
.submit-title{
    font-family: Hestina;
    font-size: 4rem;
    color: #c80321;
}
.submit-content{
    font-family: helveticaNeueLStd;

}
.submit-close{
    /*position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 2;*/
}
.modal-backdrop{
    background-color: white;
}

/*.fb-login-modal-content > .modal-body{
    padding:5rem !important;
}*/
/*#fbLoginModal{
    display: inline-flex;
}*/
.fb-login-modal-dialog{
    margin: auto;
}
/*.happy-holiday-modal-content > .modal-body{
    padding:2rem 5rem !important;
}
.late-holiday-modal-content > .modal-body{
    padding:2rem 5rem !important;
}
.tnc-holiday-modal-content > .modal-body{
    padding:2rem 5rem !important;
}
.pnp-holiday-modal-content > .modal-body{
    padding:2rem 5rem !important;
}
.sorry-modal-content > .modal-body{
    padding:3rem 5rem !important;
}
.win-modal-content > .modal-body{
    padding:3rem 5rem !important;
}
.late-modal-content > .modal-body{
    padding:3rem 5rem !important;
}
.tnc-modal-content > .modal-body{
    padding:3rem 5rem !important;
}
.pnp-modal-content > .modal-body{
    padding:3rem 5rem !important;
}
.submit-modal-content > .modal-body{
    padding:3rem 5rem !important;
}*/


/*calendars close*/
#date-1{
    background-image: url(../img/calendar/1.png);
}
#date-2{
    background-image: url(../img/calendar/2.png);
}
#date-3{
    background-image: url(../img/calendar/3.png);
}
#date-4{
    background-image: url(../img/calendar/4.png);
}
#date-5{
    background-image: url(../img/calendar/5.png);
}
#date-6{
    background-image: url(../img/calendar/6.png);
}
#date-7{
    background-image: url(../img/calendar/7.png);
}
#date-8{
    background-image: url(../img/calendar/8.png);
}
#date-9{
    background-image: url(../img/calendar/9.png);
}
#date-10{
    background-image: url(../img/calendar/10.png);
}
#date-11{
    background-image: url(../img/calendar/11.png);
}
#date-12{
    background-image: url(../img/calendar/12.png);
}
#date-13{
    background-image: url(../img/calendar/13.png);
}
#date-14{
    background-image: url(../img/calendar/14.png);
}
#date-15{
    background-image: url(../img/calendar/15.png);
}
#date-16{
    background-image: url(../img/calendar/16.png);
}
#date-17{
    background-image: url(../img/calendar/17.png);
}
#date-18{
    background-image: url(../img/calendar/18.png);
}
#date-19{
    background-image: url(../img/calendar/19.png);
}
#date-20{
    background-image: url(../img/calendar/20.png);
}
#date-21{
    background-image: url(../img/calendar/21.png);
}
#date-22{
    background-image: url(../img/calendar/22.png);
}
#date-23{
    background-image: url(../img/calendar/23.png);
}
#date-24{
    background-image: url(../img/calendar/24.png);
}
#date-25{
    background-image: url(../img/calendar/25.png);
}

/*.fa-facebook-f:after {
    content: '';
    position: absolute;
    width: 2px;
    border: 2px solid rgb(157, 1, 25);
    height: 70%;
     top: -10%; 
    left: 200%;
}*/
/*.custom-facebook{
    border-right: 2px solid rgb(157, 1, 25);
    padding-right: 1rem;
}*/
.login-button-text{
    margin-left: 1rem;
    padding: 0 3rem;
    font-family: helveticaNeueLStd-Md;
}

.share-button-text{
    /*margin-left: 1rem;*/
    padding: 0 20px;
    font-family: helveticaNeueLStd-Md;
}

.submit-content{
    font-family: helveticaNeueLStd;
    font-size: 1rem;
}

.form-control{
    font-family:helveticaNeueLStd-Md;
    font-size: 0.8rem;
    border-radius: 10px;
    background-color: #e1e1e1;
    color: white;
    border: none;
    padding: 0.7rem 2rem 0.375rem;
}

.form-control:focus{
    background-color: #e1e1e1;
    color: white;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    opacity: 1; /* Firefox */
}

.submit-button{
    border-radius: 10px;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
    background-color: #c80321;
    color: white;
    font-family:helveticaNeueLStd-Md;
    font-size: 1.5rem;
}

.win-image > img, .late-image > img, .submit-gift > img{
    max-width: 320px;
    width:100%; 
}

.modal-title-text{
    font-size:4rem;
}
.modal-content-text{
    /*font-size:1.5rem;*/
    font-size: 1rem;
    margin-top: 1rem;
}

.modal-body{
    /*padding: 2rem 6rem;*/
    padding: 70px 200px;
    max-height: 80vh;
    overflow-y: auto;
}
#collect_location_error_message, #agreement_error_message, #user_address_error_message, #user_email_error_message, #phone_number_error_message, #user_name_error_message{
    /*display: none;*/
}

.submit-modal-body{
    padding: 9rem 7rem;
}

/*.select-group select{
    display: inline-block;
}

.select-group:after{
    content: "▼";
    position: absolute;
    right: 30px;
}*/
optgroup[label]{
    /*background-color: black !important;*/
}

.reminder{
    margin-top: 10px;
    font-size: 0.8rem;
}

@media screen and (max-width: 575px){
    .close{
        top: 0.5rem;
        right: 1rem;
    }
    .close > img{
        content: url('../img/X_mobile.png');
    }
    .video-modal-body{
        max-height: 100vh;
        padding: 0 !important;
    }
    .video-modal-content{
        margin: 0;
        width: 100%;
    }

    .fb-login-modal-content{
        background-image: url("../img/popup/login_bg_mobile.png");
    }
    .happy-holiday-modal-content {
        background-image: url(../img/popup/thank_you_bg_mobile.png);
        /*background-size: 100% auto;*/
    }
    .lose-holiday-modal-content {
        background-image: url(../img/popup/lose_thanks_bg_mobile.png);
        /*background-size: 100% auto;*/
    }
    .sorry-modal-content{
        background-image: url(../img/popup/lose_bg_mobile.png);
    }
    .win-modal-content{
        background-image: url(../img/popup/win_bg_mobile.png);
    }
    .lose-modal-content{
       background-image: url(../img/popup/lose_bg_mobile.png); 
    }
    .submit-modal-content{
        background-image: url(../img/popup/submit_bg_mobile.png);
    }
    .late-modal-content{
        background-image: url(../img/popup/late_bg_mobile.png);
    }
    .modal-content > .modal-body{
        /*padding:30px;*/
        padding: 3.25rem 3rem;
    }
    #fbLoginModal{

    }
    .login-button-text{
        margin-left: 0;
        padding: 0 2rem;
    }
    .page-header{
        display: none !important;
    }
    .mobile-page-header{
        background: white;
        display: block !important;
        padding: 20px 0;
        position: fixed;
        width: 100%;
        top:0;
        left:0;
        z-index:999;
    }
    .mobile-menu-img{
        width: 1.75rem;
    }
    .top-banner{
        display: none !important;
    }
    .mobile-top-banner{
        margin-top:66px;
        display: block !important;
        background-image: url(../img/video_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        height: 83vh;
    }
    .calendar-date{
        background-image: url("../img/5.png");
        background-size: cover;
        width: 33.3333333% !important;
        /*height: 17vh !important;*/
        min-width: 0 !important;
        min-height: 0 !important;
        font-size: 1rem !important;
        /*padding: 0 !important;*/
        margin-bottom: 5px !important;
    }
    .calendar-date-open{
        background-image: url("../img/open_5.png");
        background-size: cover;
        width: 33.3333333% !important;
        /*height: 17vh !important;*/
        min-width: 0 !important;
        min-height: 0 !important;
        font-size: 1rem !important;
        /*padding: 0 !important;*/
        margin-bottom: 0px !important;
    }
    .content-bottom-title{
        font-size: 1.3rem !important;
        /*font-family: helveticaNeueLStd-blk;*/
        /*font-weight: bold;*/
    }
    .content-top-title{
        font-size: 1.3rem !important;
        /*padding: 4rem 0 2rem;  */
        /*margin:3rem 0;*/
    }
    .content-top-content{
        font-size: 0.8rem !important;
        /*line-height: 2rem;*/
        width: 80%;
        margin: 0 auto;
    }
    .content-bottom-content{
        font-size: 0.8rem !important;
    }
    .products{
        background-image: none !important;
        padding: 0 15px;
        min-height: 0 !important;
        padding-top: 1rem;
    }
    .custom-center{
        text-align: center;
    }
    .site-logo{
        position: relative !important;
    }
    /*.footer-menu-list > .row{
        height: auto !important;
    }*/
    .description-content{
        background-image: url('../img/top_bg_mobile.png') !important;
        background-size: 100% auto !important;
        background-position: center !important;
        min-height: 0 !important;
        background-repeat: no-repeat !important;
        padding:3rem 15px !important;
    }
    .content-bottom{
        background-image: url('../img/middle_bg_mobile.png') !important;
        background-size: contain !important;
        min-height: 0 !important;
        position: relative;
        background-repeat: no-repeat;
        background-position:0% 3% !important;
    }
    .content-bottom-title{
        font-size: 1.3rem !important;
        padding: 0 1rem;
    }
    .content-bottom-content{
        font-size: 0.8rem !important;
        padding:2rem 1rem;
    }
    .ribbon-div{
        background-image: url('../img/ribbon_mobile.png') !important;
        min-height: 90px !important;
        top:-15px !important;
    }
    .content-middle{
        padding-top: 50px !important;
    }
    .content-middle > .container{
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .footer-menu-inner-container-image{
        text-align:center !important;
    }
    .footer-menu-inner-container > ul {
        padding: 0 !important;
    }
    .footer-menu-inner-container{
        text-align:center !important;
    }
    .footer-menu-inner-container > ul > li {
        padding: 0 0.5rem !important;
    }
    .custom-margin-top{
        margin-top: -15px !important;
    }
    .product-title{
        font-size: 1.3rem !important;
    }
    .product-description{
        font-size: 0.8rem !important;
    }
    .buy-now-button{
        padding: 5px 30px !important;
        font-size: 1rem !important;
    }
    .product-buttom{
        padding-bottom: 4rem !important;
    }
    .fb-login-title{
        font-size: 1.7rem !important;
    }
    .fb-login-content{
        font-size: 0.8rem !important;
    }
    .fb-login-button{
        font-size: 0.8rem !important;
    }
    .fb-share-button{
        /*width: 30%;*/
        padding: 5px 0.75rem;
        font-size: 0.8rem !important;
    }
    /*.custom-facebook{
        padding-right: 0.75rem;
    }*/
    #fbLoginModal{
        margin-left: -15px;
        margin-right: -15px;
    }
    /*.fb-login-modal-dialog{
        width: 90% !important;
    }*/
    /*.fb-login-modal-content > .modal-body{
        padding:2rem !important;
    }*/
    /*.happy-holiday-modal-dialog{
        width: 95% !important;
    }*/
    .happy-holiday-title{
        font-size: 2rem;
    }
    .happy-holiday-content{
        margin-top: 1rem;
        font-size: 0.8rem;
    }
    .happy-holiday-modal-body{
        padding: 3rem 2rem !important;
    }
    /*.happy-holiday-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    

    /*.lose-holiday-modal-dialog{
        width: 95% !important;
    }*/
    .lose-holiday-title{
        font-size: 2rem;
    }
    .lose-holiday-content{
        font-size: 0.8rem;
    }
    /*.lose-holiday-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    
    /*.late-holiday-modal-dialog{
        width: 95% !important;
    }*/
    .late-holiday-title{
        font-size: 2rem;
    }
    .late-holiday-content{
        font-size: 0.8rem;
    }
    /*.late-holiday-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    .late-holiday-modal-content {
        background-image: url(../img/happy_holiday_bg.png);
        background-size: 100% auto;
    }
    /*.tnc-holiday-modal-dialog{
        width: 95% !important;
    }*/
    .tnc-holiday-title{
        font-size: 2rem;
    }
    .tnc-holiday-content{
        font-size: 0.8rem;
    }
    /*.tnc-holiday-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    .tnc-holiday-modal-content {
        background-image: url(../img/happy_holiday_bg.png);
        background-size: 100% auto;
    }
   /* .pnp-holiday-modal-dialog{
        width: 95% !important;
    }*/
    .pnp-holiday-title{
        font-size: 2rem;
    }
    .pnp-holiday-content{
        font-size: 0.8rem;
    }
    /*.pnp-holiday-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    .pnp-holiday-modal-content {
        background-image: url(../img/happy_holiday_bg.png);
        background-size: 100% auto;
    }
    .sorry-title{
        font-size: 2rem;
    }
    .sorry-content{
        font-size: 0.8rem;
    }
    /*.sorry-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    /*.sorry-modal-dialog{
        width: 95% !important;
    }*/
    .win-title{
        font-size: 2rem;
    }
    .win-content{
        font-size: 0.8rem;
    }
    /*.win-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    /*.win-modal-dialog{
        width: 95% !important;
    }*/
    .lose-title{
        font-size: 2rem;
    }
    .lose-content{
        font-size: 0.8rem;
    }
    /*.lose-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    /*.lose-modal-dialog{
        width: 95% !important;
    }*/
    .late-title{
        font-size: 2rem;
    }
    .late-content{
        font-size: 0.8rem;
    }
    /*.late-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    /*.late-modal-dialog{
        width: 95% !important;
    }*/
    .tnc-title{
        font-size: 2rem;
    }
    .tnc-content{
        font-size: 0.8rem;
    }
    /*.tnc-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    /*.tnc-modal-dialog{
        width: 95% !important;
    }*/
    .pnp-title{
        font-size: 2rem;
    }
    .pnp-content{
        font-size: 0.8rem;
    }
    /*.pnp-modal-content > .modal-body{
        padding:3rem 2rem !important;
    }*/
    /*.pnp-modal-dialog{
        width: 95% !important;
    }*/
    .fb-share-button{
        /*width: 45%;*/
    }
    .line-break{
        display: none;
    }

    .modal-title-text{
        font-size:2rem;
    }
    .modal-content-text{
        font-size:0.8rem;
    }
    /*.win-image > img, .late-image > img, .submit-gift > img {
        width: 100%;
    }*/
    .submit-title{
        font-size: 1.8rem !important;
    }
    .submit-content{
        font-size: 0.6rem;
    }
    .form-control{
        border-radius: 5px;
        font-size: 0.6rem;
        padding: 0.375rem 1.5rem 0.375rem;
    }
    .submit-button{
        padding-right: 2rem;
        padding-left: 2rem;
        font-size: 1rem;
        margin-top: 15px;
    }
    .form-group{
        margin-bottom: 0.3rem;
    }
    .collect-content{
        margin-bottom: 0.5rem;
    }
    #collect_location_error_message, #agreement_error_message, #user_address_error_message, #user_email_error_message, #phone_number_error_message, #user_name_error_message{
        margin-bottom: 0;
        font-size: 0.6rem;
    }
    .agree-term{
        /*display: inline;*/
        font-size: 0.6rem;
    }
    .agree-term:after{
        /*padding-bottom: 50%;*/
    }
    .form-check-input{
        margin-top: 0;
    }
    .calendar-date:after, .calendar-date-open:after{      
        padding-bottom: 105%;
    }
}
@media screen and (max-width: 767px){
    .pnp-modal-content{
        background-image: url("../img/popup_bg.png");
        background-size: 100%;
    }
    .tnc-modal-content{
        background-image: url("../img/popup_bg.png");
        background-size: 100%;
    }
    .video-container{
        display:none;
    }
    .reminder{
        font-size:0.6rem;
    }
}
@media screen and (max-width: 374px){
    .footer-menu-inner-container > ul > li{
        padding: 0 0.2rem !important;
    }
    .submit-title{
        font-size: 1.4rem !important;
    }
}
@media screen and (min-width: 576px) and (max-width: 767px){
    .header-menu-inner-container > ul > a > li{
        font-size: 0.8rem !important;
        padding:0 7px !important;
    }
    .sharing-list{
        left: 15px;
        top: 10px;
    }
    .fb-img{
        left: 40px;
        top: 50px;
    }
    .whatsapp-img{
        left: 40px;
        top: 100px;
    }
    .calendar-date{
        /*margin-bottom:3px !important;*/
        /*height: 13vh !important;*/
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .calendar-date-open{
        /*margin-bottom:3px !important;*/
        /*height: 13vh !important;*/
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .footer-menu-inner-container > ul > li{
        font-size: 0.8rem !important;
        padding:0 8px !important;
    }
    .description-content{
        /*background-size: 100% !important;*/
        /*background-repeat: no-repeat !important;*/
        /*min-height: 300px !important;*/
        /*padding:0 15px !important;*/
        padding:0rem 1rem;
    }
    .content-top-title{
        font-size: 1.3rem !important;
    }
    .content-top-content{
        font-size: 0.7rem !important;
        padding:0 2rem;
    }
    .ribbon-div{
        min-height: 120px !important;
        top: -35px !important;
    }
    .content-middle{
        padding-top: 110px !important;
    }
    .content-bottom{
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        min-height: 0 !important;
    }
    .content-bottom-title{
        font-size: 1.3rem !important;
        /*font-family: helveticaNeueLStd-blk;*/
        /*font-weight: bold;*/
    }
    .content-bottom-content{
        font-size: 0.7rem !important;
        padding: 1rem 5rem 2rem !important;
    }
    .products{
        min-height: 0 !important;
    }
    .product-title{
        font-size: 1.3rem !important;
    }
    .product-description{
        font-size: 0.7rem !important;
        padding: 0 5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px){
    .modal-content > .modal-body{
        padding:70px 100px;
    }

    .submit-modal-content{
        background-size: 100% 100% !important;
    }
    .wrapper{
        margin: 0 80px !important;
    }
    .calendar-date{
        margin-bottom:3px !important;
        /*height: 13vh !important;*/
        min-width: 0 !important;
        min-height: 0 !important;
    }
    .calendar-date-open{
        /*margin-bottom:3px !important;*/
        /*height: 13vh !important;*/
        min-width: 0 !important;
        min-height: 0 !important;
    }
    /*.page-header{
        display: none !important;
    }
    .mobile-page-header{
        display: block !important;
        padding: 20px 0;
    }*/
    .footer-menu-inner-container > ul > li{
        padding:0 18px !important;
    }
    .header-menu-inner-container > ul > a > li{
        padding:0 10px !important;
    }
    .description-content{
        padding: 3rem 5rem !important;
    }
    .content-top-title{
        font-size: 1.3rem !important;
    }
    .content-top-content{
        font-size: 0.7rem !important;
        padding:0 2rem;
    }
    .custom-display-inline-block{
        display: initial !important;
    }
    .ribbon-div{
        min-height: 120px !important;
        top: -35px !important;
    }
    .content-middle{
        padding-top: 5rem !important;
    }
    .content-bottom{
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        min-height: 0 !important;
    }
    .content-bottom-title{
        font-size: 1.3rem !important;
        /*font-family: helveticaNeueLStd-blk;*/
        /*font-weight: bold;*/
    }
    .content-bottom-content{
        font-size: 0.7rem !important;
        padding: 1rem 5rem 2rem !important;
    }
    .products{
        min-height: 0 !important;
    }
    .product-title{
        font-size: 1.3rem !important;
    }
    .product-description{
        font-size: 0.7rem !important;
        padding: 0 5rem;
    }
    .sharing-list{
        left: 5px !important;
    }
    .fb-img{
        left: 31px !important;
    }
    .whatsapp-img{
        left: 31px !important;
    }
    .fb-login-modal-content{
        background-size: 100% 100% !important;
    }
    .happy-holiday-title{
        font-size: 3rem;
    }
    /*.happy-holiday-modal-content > .modal-body{
        padding:5rem 3rem !important;
    }*/
    .happy-holiday-title{
        font-size: 3rem !important;
    }
    .happy-holiday-content{
        font-size: 0.8rem;
    }
    .happy-holiday-modal-content{
        background-size: 100% 100% !important;
    }
    .lose-holiday-title{
        font-size: 3rem;
    }
    /*.lose-holiday-modal-content > .modal-body{
        padding:4rem 3rem !important;
    }*/
    .lose-holiday-title{
        font-size: 3rem !important;
    }
    .lose-holiday-content{
        font-size: 0.8rem;
    }
    .lose-holiday-modal-content{
        background-size: 100% 100% !important;
    }
    .late-holiday-title{
        font-size: 3rem;
    }
    /*.late-holiday-modal-content > .modal-body{
        padding:4rem 3rem !important;
    }*/
    .late-holiday-title{
        font-size: 3rem !important;
    }
    .late-holiday-content{
        font-size: 0.8rem;
    }
    .late-holiday-modal-content{
        background-size: 100% 100% !important;
    }
    .tnc-holiday-title{
        font-size: 3rem;
    }
    /*.tnc-holiday-modal-content > .modal-body{
        padding:4rem 3rem !important;
    }*/
    .tnc-holiday-title{
        font-size: 3rem !important;
    }
    .tnc-holiday-content{
        font-size: 0.8rem;
    }
    .tnc-holiday-modal-content{
        background-size: 100% 100% !important;
    }
    .pnp-holiday-title{
        font-size: 3rem;
    }
    /*.pnp-holiday-modal-content > .modal-body{
        padding:4rem 3rem !important;
    }*/
    .pnp-holiday-title{
        font-size: 3rem !important;
    }
    .pnp-holiday-content{
        font-size: 0.8rem;
    }
    .pnp-holiday-modal-content{
        background-size: 100% 100% !important;
    }
    .sorry-content{
        font-size: 0.8rem;
    }
    .sorry-modal-content{
        background-size: 100% 100% !important;
    }
    .win-title{
        font-size: 2rem !important;
    }
    .win-content{
        /*font-size: 0.8rem;*/
    }
    .win-modal-content{
        background-size: 100% 100% !important;
    }
    .fb-share-button{
        /*width: 30%;*/
        /*font-size: 0.8rem;*/
    }
    .share-button-text{
        margin-left: 0.3rem;
    }
    .lose-content{
        font-size: 0.8rem;
    }
    .lose-modal-content{
        background-size: 100% 100% !important;
    }
    .lose-title{
        font-size: 2rem !important;
    }
    .late-content{
        font-size: 0.8rem;
    }
    .late-modal-content{
        background-size: 100% 100% !important;
    }
    .late-title{
        font-size: 2rem !important;
    }
    .tnc-content{
        font-size: 0.8rem;
    }
    .tnc-modal-content{
        background-size: 100% !important;
        background-image: url("../img/happy_holiday_bg.png");
    }
    .tnc-title{
        font-size: 2rem !important;
    }
    .pnp-content{
        font-size: 0.8rem;
    }
    .pnp-modal-content{
        background-size: 100% !important;
        background-image: url("../img/happy_holiday_bg.png");
    }
    .pnp-title{
        font-size: 2rem !important;
    }
    .submit-title{
        font-size: 2rem;
    }
    .submit-content{
        font-size: 0.8rem;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
    .footer-menu-inner-container > ul > li{
        padding:0 14px !important;
    }
    .header-menu-inner-container > ul > a > li{
        padding:0 10px !important;
    }
    .description-content{
        padding: 5rem 10rem !important;
    }
    .content-top-title{
        font-size: 1.3rem !important;
    }
    .content-top-content{
        font-size: 0.7rem !important;
        padding:0 2rem;
    }
    .ribbon-div{
        min-height: 120px !important;
        top: -35px !important;
    }
    .content-middle{
        padding-top: 110px !important;
    }
    .content-bottom{
        background-size: 100% !important;
        background-repeat: no-repeat !important;
    }
    .content-bottom-title{
        font-size: 1.3rem !important;
        /*font-family: helveticaNeueLStd-blk;*/
        /*font-weight: bold;*/
    }
    .content-bottom-content{
        font-size: 0.7rem !important;
        padding: 1rem 5rem 2rem !important;
    }
    .products{
        min-height: 0 !important;
    }
    .product-title{
        font-size: 1.3rem !important;
    }
    .product-description{
        font-size: 0.7rem !important;
        padding: 0 5rem;
    }
    .calendar-date{
        /*height:13vh !important;*/
        /*margin-bottom: 5px;*/
    }
    .calendar-date-open{
        /*height:13vh !important;*/
        /*margin-bottom: 5px;*/
    }
    .sharing-list{
        left: 8px !important;
    }
    .fb-img{
        left: 35px !important;
    }
    .whatsapp-img{
        left: 35px !important;
    }
    .fb-login-modal-content > .modal-body{
        /*padding:4rem;*/
    }
    .happy-holiday-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .happy-holiday-title{
        font-size: 3rem !important;
    }
    .lose-holiday-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .lose-holiday-title{
        font-size: 3rem !important;
    }
    .late-holiday-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .late-holiday-title{
        font-size: 3rem !important;
    }
    .tnc-holiday-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .tnc-holiday-title{
        font-size: 3rem !important;
    }
    .pnp-holiday-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .pnp-holiday-title{
        font-size: 3rem !important;
    }
    .sorry-modal-content > .modal-body{
        padding:2rem 4rem;
    }
    .sorry-title{
        font-size: 3rem !important;
    }
    .win-modal-content > .modal-body{
        padding:1rem 5rem;
    }
    .win-title{
        font-size: 3rem !important;
    }
    .lose-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .lose-title{
        font-size: 3rem !important;
    }
    .late-modal-content > .modal-body{
        /*padding:2rem 4rem;*/
    }
    .late-title{
        font-size: 3rem !important;
    }
    .tnc-modal-content > .modal-body{
        padding:2rem 4rem;
    }
    .tnc-title{
        font-size: 3rem !important;
    }
    .pnp-modal-content > .modal-body{
        padding:2rem 4rem;
    }
    .pnp-title{
        font-size: 3rem !important;
    }
    .share-button-text{
        margin-left: 0.5rem;
    }
    .fb-share-button{
        /*width: 35%;*/
    }
}
@media screen and (min-width: 1200px){
    
}
@media screen and (min-width: 1281px){

}